﻿body 
{
font-family: Arial,"宋体",Lucida,Verdana,Helvetica,sans-serif;
font-size: 15px;
font: 15px/1.5 Tahoma,Helvetica,Arial,'\5B8B\4F53',sans-serif;
color: #333;
line-height: 150%;
background: #f2f2f2;
}
button{
font-size:15px;

}
div{

display：block；
}


.item {
padding-bottom: 20px;
margin-bottom:0;
line-height: 34px;
position: relative;
}
.intro
{

float: none;
width: 282px;
height: 80px;
line-height: 24px;
padding: 4px 20px 4px 3px;
border: 1px solid #cccccc;
font-size: 14px;
font-family: arial,"宋体";
}
.press
{
width:282px;
height:40px;
border: 0;
background:url(../images/c.png) repeat-x 0 0;
color: #FFF;
text-align:center;


}
.page
{
width:240px;
}
 .i_text {
float: none;
width: 282px;
height: 30px;
line-height: 24px;
padding: 4px 20px 4px 3px;
border: 1px solid #cccccc;
font-size: 14px;
font-family: arial,"宋体";
}