<form class="form-horizontal form1" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label">认证类型</label>
        <div class="col-sm-2">
            <select name="" id="" placeholder="">
                <option>小学老师</option>
                <option>初中老师</option>
                <option>高中老师</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">真实姓名</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="" id="" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputFile" class="control-label col-sm-2">身份证正面照片</label>
        <div class="col-sm-4">
            <input type="file" id="exampleInputFile" name="">
            <p class="help-block">请上传身份证正面带有头像的照片</p>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputFile" class="control-label col-sm-2">身份证反面照片</label>
        <div class="col-sm-4">
            <input type="file" id="exampleInputFile" name="">
            <p class="help-block">请上传身份证反面带有签发机关的照片</p>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputFile" class="control-label col-sm-2">证件材料</label>
        <div class="col-sm-4">
            <input type="file" id="exampleInputFile" name="">
            <p class="help-block">请上传证件带有照片或个人信息的照片</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">授课学校</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="" id="" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">授课科目</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="" id="" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">教师等级</label>
        <div class="col-sm-2">
            <select name="" id="" placeholder="">
                <option>教师</option>
                <option>三级教师</option>
                <option>二级教师</option>
                <option>一级教师</option>
                <option>高级教师</option>
                <option>正高级教师</option>
                <option>特级教师</option>
            </select>
        </div>
    </div>
        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 ">
            <button type="submit" class="btn btn-success">提交</button>
        </div>
    </div>
</form>