a{
    text-decoration: none!important;
}
.question-img {
    width: 400px;
    height: 300px;
}

.panel_right2 {
    border-radius: 5px;
    border: 1px solid #ddd;
}
.quest-list {
    margin-left:15%;
}

.icon {
    width: 16px;
    height: 16px;
    margin-left: 30px;
}

.w-span {
    margin-left: 5px;
}

.mrl {
    margin-right: 10px;
}

.inut_a {
    width: 500px;
}

.nav-me {
}

.nav-t {
    width: 100%;
    height: 40px;
    list-style: none;
    background-color: #5ba10e;
background: -webkit-gradient(linear,left top,left bottom,from(#6fb420),to(#51930d));
}
.nav-t li{

    width: 100px;
    height: 40px;
    float: left;
    position: relative;
    display: inline;
    margin-left: 110px;
}
.nav-t li a{
    color: #fff;
    font-size: 18px;
    line-height: 38px;
    margin-left: 13px;
    font-weight: bold;
    font-family: '微软雅黑';
}
.nav-t li:hover{
    background: #008B00;
}

.title4 {
    margin-left:30px!important;
}

.active1 {
     background: #008B00;
}

.pdtop {
    padding-top: 0px!important;
}

.txt-left {
    text-align: left!important;
}

.photo {
    width: 150px;
    height: 150px;
}

.pannel-info {
    margin-left: 200px;
}
