


.panel_main {
    width: 80%;
    margin: 30px auto;
}

.p_info {
    margin: 0 auto;
    width: 80px;
    color: #fff;
}

.pd {
    padding-left: 0!important;
    padding-right: 0!important;
}

.btn-radiu {
    border-radius: 0px!important;
}

.panel_left {
    border-right: 1px solid #ddd;
    height: 550px;
}

.pd_topbot {
    padding-top: 0!important;
    padding-bottom: 0!important;
}



.basic_info {
    margin-top: 20px;
}

.ident {
    color: #000;
}

.form1 {
    margin-top: 20px;
    padding: 20px;
}

.selectsex {
    margin-left: 14px;
}

.mrt {
    margin-top: 6px;
}
.black a{
    color: #000;
}
.white a{
    color: #fff;
}