.main{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 2.5em;
	background-color: #ecf0f1;
	overflow-y: auto;
}
#bottomNav{
	bottom: 0;
	position: fixed;
	padding: .6em 1em;
	width: 100%;
	background-color: #f7f7f7;
	border-top: 1px solid #ccc;
}
.nav > li{
	float: left;
	text-align: center;
}
.nav.main-nav > li{
	width: 33%;
}
.nav.q-nav > li:first-child{
	width: 10%;
}
.nav.q-nav > li:last-child{
	width: 85%;
}
li form,li .form-group{
	margin: 0;
}
#bottomNav li form button,#bottomNav li form input{
	height: 2.2em;
}
#bottomNav li form button span{
	top: -.3em;
}
#bottomNav a span{
	top: .4em;
}
#bottomNav .dropdown-menu{
	position: absolute;
	top: -9.5em;
	border: 1px solid #ccc;
}
.navbar-nav > li > a{
	padding: 0 !important;
}
.dropdown-menu > li > a{
	border-bottom: 1px solid #ccc;;
}
.dropdown-menu:last-child > a{
	border: none;
}
.formCenter{
	top: 10%;
	position: relative;
	padding: 3em 2em;
}
.submit{
	margin-top: 2em;
	text-align: center;
}
.submit button{
	display: inline-block;
}
.questionList li img,{
	width: 3em;
	margin: 0 .5em;
}
.questionList li div{
	height: inherit;
	float: left;
	width: 4em;
	font-size: .8em;
	min-height: 2.5em;
	text-align: center;
	margin-right: .7em;
	line-height: 1.4em;
}
.questionList li{
	height: 6em;
	width: 100%;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}
.award{
	display: block;
	float: right;
	background-color: #1ABC9C;
	color: #fff;
	padding: .2em;
	border-radius: 10em;
	width: 2.6em;
	height: 2.6em;
	text-align: center;
	line-height: 2.3em;
	margin: 2.3em -.5em;
	font-size: .6em;
}
.list-group-item img{
	width: 3em;
}
.chat{
	padding: .5em 1em;
	margin: 0;
	overflow: hidden;
}
.chat img{
	width: 10%;
}
.chat.me img,.chat.me .bubble{
	float: right;
}
.chat.you img,.chat.you .bubble{
	float: left;
}
.chat.me .bubble{
	background-color: #1abc9c;
	color: #fff;
}
.bubble{
	max-width: 80%;
	min-width: 3em;
	background-color: #fff;
	padding: .8em;
	margin: 0 .5em;
	border-radius: .5em;
}
.bubble img{
	min-width: 30%;
	max-width: 100%;
	padding: .1em;
}
.avatar{
    width: 15em;

    padding: 0 4em;
    margin-bottom: 2em;
}
.profile li{
    display: inline-block;
    text-align: left;
    width: 100%;
}
.profile li span{
	margin-right: 1em;
	color: #777;
}
.profile{
	margin: 20% auto;
	width: 75%;
	text-align: center;
}
.profile li a{
	margin-top: 1em;
}